/* Variabel Warna */
:root {

  --bg: #0f172a;
  --card: #1e293b;
  --accent: #38bdf8;
  --text: #f1f5f9;
}

/* Body */
body {

  background: var(--bg);
  color: var(--text);

  font-family: 'Poppins', sans-serif;

  margin: 0;
  padding: 30px;
}

/* Dashboard */
.dashboard {

  max-width: 1100px;
  margin: auto;
}

/* Header */
header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

/* Badge MQTT */
.badge {

  background: red;

  padding: 12px 15px;

  border-radius: 10px;

  font-size: 14px;
  font-weight: bold;
}

/* MQTT Connected */
.badge.on {

  background: #22c55e;
}

/* Tombol */
.controls {

  margin-bottom: 20px;
}

button {

  padding: 8px 12px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  margin-right: 5px;

  background: #334155;
  color: white;

  transition: 0.2s;
}

/* Hover */
button:hover {

  background: var(--accent);
}

/* Click */
button:active {

  transform: scale(0.95);
}

/* Monitoring Card */
.stats {

  display: flex;
  gap: 20px;
}

.stat-card {

  flex: 1;

  background: var(--card);

  padding: 20px;

  border-radius: 15px;

  text-align: center;
}

.stat-card h3 {

  font-size: 35px;
}

/* Relay */
.relay-container {

  margin-top: 25px;
}

/* Grid Relay */
.grid {

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 15px;
}

/* Card Relay */
.relay-card {

  background: var(--card);

  padding: 15px;

  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Indikator Relay */
.indikator {

  display: inline-block;

  width: 15px;
  height: 15px;

  border-radius: 50%;

  margin-left: 10px;

  background: gray;

  transition: 0.3s;
}

/* Relay ON */
.indikator.on {

  background: #22c55e;

  box-shadow: 0 0 10px #22c55e;
}

/* Relay OFF */
.indikator.off {

  background: #64748b;
}

/* Riwayat */
.visuals {

  margin-top: 25px;
}

.history-wrapper {

  background: var(--card);

  padding: 20px;

  border-radius: 15px;
}

/* Table */
table {

  width: 100%;
  border-collapse: collapse;
}

th, td {

  padding: 10px;

  text-align: center;
}

th {

  background: #334155;
}

/* WARNA SUHU */

/* Hijau */
.hijau {

  color: #22c55e;

  text-shadow:
    0 0 10px #22c55e;
}

/* Kuning */
.kuning {

  color: #facc15;

  text-shadow:
    0 0 10px #facc15;
}

/* Merah */
.merah {

  color: #ef4444;

  text-shadow:
    0 0 10px #ef4444;
}

/* STATUS MODE */
.mode-box {

  margin-top: 20px;

  background: var(--card);

  padding: 15px;

  border-radius: 12px;

  text-align: center;
}

#modeText {

  color: #38bdf8;

  font-weight: bold;
}